Repository lvgl/lvgl, pull requests merged in 2024-09, with the labels that each got.

#6796 feat(vg_lite): add draw border side support
  src/draw/vg_lite/lv_draw_vg_lite_border.c
  src/draw/vg_lite/lv_vg_lite_math.h
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_border_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_border_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_border_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_border_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_border_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_border_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_border_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_border_opa_255.png
  tests/ref_imgs_vg_lite/widgets/list_1.png
  tests/ref_imgs_vg_lite/widgets/tabview_05.png
  tests/ref_imgs_vg_lite/widgets/tabview_06.png
  tests/ref_imgs_vg_lite/widgets/tabview_07.png
  tests/ref_imgs_vg_lite/widgets/tabview_08.png
  tests/ref_imgs_vg_lite/widgets/tabview_09.png
Labels: 🚀 Enhancement, 👀 Needs review

#6799 fix(sdl): check against NULL before using the driver data of a display
  src/drivers/sdl/lv_sdl_window.c
Labels: 👀 Needs review

#6801 fix(micropython): missing bidi private header feature guard
  src/misc/lv_bidi_private.h
Labels: 👀 Needs review

#6788 chore(scripts): allow to run update_version.py with python3.8
  scripts/update_version.py
Labels: 👀 Needs review

#6798 fix(perf): perf monitor FPS
  src/core/lv_refr.c
  tests/src/test_cases/widgets/test_arc.c
Labels: 👀 Needs review

#6691 feat(dma2d): add basic support
  .devcontainer/__lv_conf.h__
  Kconfig
  docs/integration/chip/stm32.rst
  env_support/cmsis-pack/lv_conf_cmsis.h
  lv_conf_template.h
  src/draw/dma2d/lv_draw_dma2d.c
  src/draw/dma2d/lv_draw_dma2d.h
  src/draw/dma2d/lv_draw_dma2d_fill.c
  src/draw/dma2d/lv_draw_dma2d_img.c
  src/draw/dma2d/lv_draw_dma2d_private.h
  src/draw/lv_draw_private.h
  src/lv_conf_internal.h
  src/lv_init.c
Labels: 👀 Needs review

#6705 fix(docbuild): Update style doc to reflect Doxygen needs
  docs/CODING_STYLE.rst
Labels: 👀 Needs review

#6787 fix(cmake) fix install
  env_support/cmake/custom.cmake
Labels: 👀 Needs review

#6831 fix(indev): don't wait until release when a new object is found
  src/indev/lv_indev.c
Labels: 👀 Needs review

#6187 feat(indev): detect double and triple click (closes #6020)
  docs/overview/event.rst
  examples/event/index.rst
  examples/event/lv_example_event.h
  examples/event/lv_example_event_bubble.c
  examples/event/lv_example_event_button.c
  examples/event/lv_example_event_click.c
  examples/event/lv_example_event_draw.c
  examples/event/lv_example_event_streak.c
  src/indev/lv_indev.c
  src/indev/lv_indev.h
  src/indev/lv_indev_private.h
  src/misc/lv_event.h
  tests/src/test_cases/test_click.c
Labels: 👀 Needs review

#6579 feat(spangroup): add `lv_spangroup_get_span_by_point` in spangroup
  examples/widgets/span/lv_example_span_1.c
  src/widgets/span/lv_span.c
  src/widgets/span/lv_span.h
  src/widgets/span/lv_span_private.h
  tests/ref_imgs/widgets/span_09.png
  tests/src/test_cases/widgets/test_span.c
Labels: 👀 Needs review

#6786 feat(switch): add vertical switch function
  docs/widgets/switch.rst
  examples/widgets/lv_example_widgets.h
  examples/widgets/switch/index.rst
  examples/widgets/switch/lv_example_switch_2.c
  src/widgets/switch/lv_switch.c
  src/widgets/switch/lv_switch.h
  src/widgets/switch/lv_switch_private.h
  tests/ref_imgs/widgets/switch_1.png
  tests/src/test_cases/widgets/test_switch.c
Labels: 🚀 Enhancement, 👀 Needs review

#6864 fix(image): lv_image_set_inner_align() behaviour with LV_IMAGE_ALIGN_STRETCH
  src/widgets/image/lv_image.c
Labels: 🐞 Bug, 👀 Needs review

#6834 feat(profiler): support different module divisions
  Kconfig
  lv_conf_template.h
  src/core/lv_obj_pos.c
  src/core/lv_obj_style.c
  src/core/lv_refr.c
  src/draw/lv_draw.c
  src/draw/lv_draw_arc.c
  src/draw/lv_draw_image.c
  src/draw/lv_draw_label.c
  src/draw/lv_draw_line.c
  src/draw/lv_draw_mask.c
  src/draw/lv_draw_rect.c
  src/draw/lv_draw_triangle.c
  src/draw/sw/blend/lv_draw_sw_blend.c
  src/draw/sw/lv_draw_sw.c
  src/draw/sw/lv_draw_sw_letter.c
  src/draw/sw/lv_draw_sw_line.c
  src/draw/vg_lite/lv_draw_vg_lite_arc.c
  src/draw/vg_lite/lv_draw_vg_lite_border.c
  src/draw/vg_lite/lv_draw_vg_lite_box_shadow.c
  src/draw/vg_lite/lv_draw_vg_lite_fill.c
  src/draw/vg_lite/lv_draw_vg_lite_img.c
  src/draw/vg_lite/lv_draw_vg_lite_label.c
  src/draw/vg_lite/lv_draw_vg_lite_layer.c
  src/draw/vg_lite/lv_draw_vg_lite_line.c
  src/draw/vg_lite/lv_draw_vg_lite_mask_rect.c
  src/draw/vg_lite/lv_draw_vg_lite_triangle.c
  src/draw/vg_lite/lv_draw_vg_lite_vector.c
  src/draw/vg_lite/lv_vg_lite_grad.c
  src/draw/vg_lite/lv_vg_lite_path.c
  src/draw/vg_lite/lv_vg_lite_stroke.c
  src/draw/vg_lite/lv_vg_lite_utils.c
  src/indev/lv_indev.c
  src/libs/freetype/lv_freetype_glyph.c
  src/libs/freetype/lv_freetype_image.c
  src/libs/freetype/lv_freetype_outline.c
  src/libs/libpng/lv_libpng.c
  src/libs/lodepng/lv_lodepng.c
  src/lv_conf_internal.h
  src/misc/cache/lv_cache.c
  src/misc/lv_fs.c
  src/misc/lv_profiler.h
  src/misc/lv_style.c
  src/misc/lv_timer.c
Labels: 👀 Needs review

#6838 feat(animimg): add getter function for underlying animation
  docs/widgets/animimg.rst
  src/widgets/animimage/lv_animimage.c
  src/widgets/animimage/lv_animimage.h
Labels: 👀 Needs review

#6893 feat(array): add an empty element when element is NULL
  src/misc/lv_array.c
  src/misc/lv_array.h
Labels: 👀 Needs review

#6879 fix(textarea): fix placeholder text cannot be centered
  src/widgets/textarea/lv_textarea.c
Labels: 👀 Needs review

#6803 fix(freertos): use xSemaphoreTakeRecursive
  src/osal/lv_freertos.c
Labels: 🐞 Bug, 👀 Needs review

#6793 fix(freertos) sync signal from isr fixed
  Kconfig
  env_support/cmake/esp.cmake
  lv_conf_template.h
  src/draw/nxp/vglite/lv_draw_vglite.c
  src/lv_conf_internal.h
  src/osal/lv_freertos.c
  src/osal/lv_freertos.h
Labels: 🐞 Bug, 🔥 Important, 👀 Needs review

#6914 perf(benchmark): use XRGB8888 image withn 32bit color depth
  demos/benchmark/assets/img_benchmark_cogwheel_rgb.c
Labels: 👀 Needs review

#6925 fix(fs): add lv_fs_dir_t to lv_fs.h
  src/misc/lv_fs.h
  src/misc/lv_fs_private.h
  src/misc/lv_types.h
Labels: 👀 Review needed

#6923 feat(animimg): backport add getter function for underlying animation
  docs/widgets/animimg.rst
  src/widgets/animimage/lv_animimage.c
  src/widgets/animimage/lv_animimage.h
Labels: 👀 Review needed

#6922 feat(gif): backport add loop count control and GIF load result
  src/libs/gif/lv_gif.c
  src/libs/gif/lv_gif.h
Labels: 👀 Review needed

#6894 fix(calendar): fix lv_calendar_gregorian_to_chinese compile error
  src/lvgl_private.h
  src/misc/lv_types.h
  src/widgets/calendar/lv_calendar_chinese.c
  src/widgets/calendar/lv_calendar_chinese.h
  src/widgets/calendar/lv_calendar_chinese_private.h
Labels: 👀 Review needed

#6873 feat(style): add style_cnt and styles checks
  src/core/lv_obj_style.c
Labels: 👀 Review needed

#6936 fix(canvas):fix typo
  src/widgets/lv_canvas.h
Labels: 👀 Review needed

#6929 fix: eliminate misc sphinx warnings...
  demos/README.md
  docs/CODING_STYLE.rst
  docs/get-started/index.rst
  docs/get-started/quick-overview.rst
  docs/integration/chip/espressif.rst
  docs/overview/event.rst
  docs/overview/font.rst
  docs/overview/fs.rst
  docs/overview/layer.rst
  docs/overview/vg_lite_tvg.rst
  docs/porting/display.rst
  docs/porting/indev.rst
  docs/widgets/msgbox.rst
  docs/widgets/scale.rst
Labels: 👀 Review needed

#6761 feat(render): basic of tiled rendering
  docs/porting/display.rst
  src/core/lv_refr.c
  src/display/lv_display.c
  src/display/lv_display.h
  src/display/lv_display_private.h
  src/draw/lv_draw.c
  src/draw/lv_draw.h
  src/draw/sw/lv_draw_sw.c
  src/draw/sw/lv_draw_sw_img.c
  src/drivers/sdl/lv_sdl_window.c
Labels: 👀 Review needed

#6943 fix(fs): backport add lv_fs_dir_t to lv_fs.h (#6925)
  src/misc/lv_fs.h
  src/misc/lv_fs_private.h
  src/misc/lv_types.h
Labels: 👀 Review needed

#6946 fix(image): backport lv_image_set_inner_align() behaviour with LV_IMAGE_ALIGN_…
  src/widgets/image/lv_image.c
Labels: 👀 Review needed

#6941 fix(style): remove transitions when a local style property is set
  src/core/lv_obj_style.c
Labels: 👀 Review needed

#6960 chore(lv_conf_internal): avoid LV_CONF_SKIP redefinition warning
  scripts/lv_conf_internal_gen.py
  src/lv_conf_internal.h
Labels: 👀 Review needed

#6940 chore: use the new labels in GitHub actions and docs
  .github/workflows/close_old_issues.yml
  docs/CONTRIBUTING.rst
Labels: 👀 Review needed
