Repository lvgl/lvgl, pull requests merged in 2024-10, with the labels that each got.

#6836 docs(display): mention how to manipulate the invalidated area
  docs/porting/display.rst
  src/display/lv_display.c
  src/display/lv_display.h
Labels: stale, 👀 Review needed

#6956 fix(thorvg): fix clipped clippers
  src/libs/thorvg/tvgPaint.cpp
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_normal_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_normal_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_normal_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_normal_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_recolor_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_recolor_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_recolor_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/argb8888/demo_render_image_recolor_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_normal_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_normal_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_normal_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_normal_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_recolor_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_recolor_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_recolor_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/l8/demo_render_image_recolor_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_normal_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_normal_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_normal_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_normal_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_recolor_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_recolor_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_recolor_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb565/demo_render_image_recolor_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_normal_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_normal_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_normal_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_normal_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_recolor_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_recolor_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_recolor_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/rgb888/demo_render_image_recolor_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_normal_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_normal_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_normal_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_normal_2_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_recolor_1_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_recolor_1_opa_255.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_recolor_2_opa_128.png
  tests/ref_imgs_vg_lite/draw/render/xrgb8888/demo_render_image_recolor_2_opa_255.png
  tests/ref_imgs_vg_lite/widgets/image_rotate_pivot_center.png
  tests/ref_imgs_vg_lite/widgets/image_rotate_pivot_top_left.png
  tests/ref_imgs_vg_lite/widgets/image_scale_pivot_center.png
  tests/ref_imgs_vg_lite/widgets/image_scale_pivot_top_left.png
  tests/ref_imgs_vg_lite/widgets/image_scale_x_pivot_center.png
  tests/ref_imgs_vg_lite/widgets/image_scale_x_pivot_top_left.png
Labels: 👀 Review needed

#6938 fix: the latest lvgl version of msinttypes in rt-thread caused compil…
  env_support/rt-thread/SConscript
Labels: 👀 Review needed

#6978 Release/nxp patches for LVGL master
  Kconfig
  docs/integration/chip/nxp.rst
  lv_conf_template.h
  src/display/lv_display.c
  src/display/lv_display.h
  src/draw/lv_draw_buf.c
  src/draw/lv_draw_buf.h
  src/draw/nxp/pxp/lv_draw_buf_pxp.c
  src/draw/nxp/pxp/lv_draw_pxp.c
  src/draw/nxp/pxp/lv_draw_pxp.h
  src/draw/nxp/pxp/lv_draw_pxp_fill.c
  src/draw/nxp/pxp/lv_draw_pxp_img.c
  src/draw/nxp/pxp/lv_draw_pxp_layer.c
  src/draw/nxp/pxp/lv_pxp_cfg.c
  src/draw/nxp/pxp/lv_pxp_cfg.h
  src/draw/nxp/pxp/lv_pxp_osa.c
  src/draw/nxp/pxp/lv_pxp_osa.h
  src/draw/nxp/pxp/lv_pxp_utils.c
  src/draw/nxp/pxp/lv_pxp_utils.h
  src/draw/nxp/vglite/lv_draw_buf_vglite.c
  src/draw/nxp/vglite/lv_draw_vglite.c
  src/draw/nxp/vglite/lv_draw_vglite_triangle.c
  src/lv_conf_internal.h
  src/lv_init.c
Labels: 👀 Review needed

#6980 fix(benchmark): improve responsiveness and use the LVGL logo instead of the cogwheel
  demos/benchmark/assets/img_benchmark_cogwheel_alpha256.c
  demos/benchmark/assets/img_benchmark_cogwheel_argb.c
  demos/benchmark/assets/img_benchmark_cogwheel_indexed16.c
  demos/benchmark/assets/img_benchmark_cogwheel_rgb.c
  demos/benchmark/assets/img_benchmark_lvgl_logo_argb.c
  demos/benchmark/assets/img_benchmark_lvgl_logo_argb.png
  demos/benchmark/assets/img_benchmark_lvgl_logo_rgb.c
  demos/benchmark/assets/img_benchmark_lvgl_logo_rgb.png
  demos/benchmark/assets/img_cogwheel_argb.png
  demos/benchmark/assets/img_cogwheel_chroma_keyed.png
  demos/benchmark/assets/img_cogwheel_indexed16.png
  demos/benchmark/assets/img_cogwheel_rgb.png
  demos/benchmark/lv_demo_benchmark.c
Labels: 👀 Review needed

#6905 fix(drivers): add missing includes
  src/drivers/display/ili9341/lv_ili9341.h
  src/drivers/display/lcd/lv_lcd_generic_mipi.h
  src/drivers/display/st7735/lv_st7735.h
  src/drivers/display/st7789/lv_st7789.h
  src/drivers/display/st7796/lv_st7796.h
  src/drivers/lv_drivers.h
Labels: 👀 Review needed

#7017 chore(stale): use the correct labels
  .github/workflows/close_old_issues.yml
Labels: 👀 Review needed

#7024 docs(yocto): add guide to integrate lvgl recipe in Yocto
  docs/integration/os/index.rst
  docs/integration/os/yocto/core_components.rst
  docs/integration/os/yocto/index.rst
  docs/integration/os/yocto/lvgl_recipe.rst
  docs/integration/os/yocto/terms_and_variables.rst
Labels: 👀 Review needed

#7043 fix(anim_timeline): run animations which do not have an exec cb
  src/misc/lv_anim_timeline.c
  tests/src/test_cases/test_anim_timeline.c
Labels: 👀 Review needed

#6966 feat(text): add text recolor back
  Kconfig
  lv_conf_template.h
  src/draw/lv_draw_label.c
  src/lv_conf_internal.h
  src/misc/lv_text.c
  src/misc/lv_text.h
  src/widgets/buttonmatrix/lv_buttonmatrix.c
  src/widgets/buttonmatrix/lv_buttonmatrix.h
  src/widgets/label/lv_label.c
  src/widgets/label/lv_label.h
  src/widgets/label/lv_label_private.h
  src/widgets/roller/lv_roller.c
  src/widgets/span/lv_span.c
  tests/ref_imgs/widgets/label_recolor.png
  tests/src/test_cases/widgets/test_label.c
Labels: 👀 Review needed

#6933 chore(env_support/rt-thread): fix build break
  env_support/rt-thread/SConscript
  env_support/rt-thread/lv_rt_thread_conf.h
Labels: 💤 Stale

#6971 docs(license): add font license files
  scripts/built_in_font/font_license/DejaVuSans/LICENSE
  scripts/built_in_font/font_license/FontAwesome5/LICENSE.txt
  scripts/built_in_font/font_license/Montserrat/OFL.txt
Labels: 👀 Review needed

#7083 chore(docs): fix font manager example index typo
  examples/others/font_manager/index.rst
Labels: 🌱 Simple, 👀 Review needed

#7076 feat(tests): add log print callback
  tests/src/lv_test_init.c
Labels: 👀 Review needed

#6791 feat(gdb): add lvgl GDB plugin (don't squash)
  docs/overview/debugging/gdb_plugin.rst
  docs/overview/debugging/index.rst
  docs/overview/debugging/log.rst
  docs/overview/debugging/profiler.rst
  docs/overview/debugging/vg_lite_tvg.rst
  docs/overview/index.rst
  docs/porting/index.rst
  scripts/gdb/lvgl.py
Labels: 👀 Review needed

#7049 fix(tests): fix vg-lite buf address not aligned
  demos/render/lv_demo_render.c
  src/draw/lv_draw_buf.h
  src/draw/vg_lite/lv_vg_lite_stroke.c
  src/draw/vg_lite/lv_vg_lite_utils.c
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_LZ4_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_LZ4_rotate.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_LZ4_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_LZ4_simple.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_RLE_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_RLE_rotate.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_RLE_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride1_RLE_simple.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_LZ4_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_LZ4_rotate.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_LZ4_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_LZ4_simple.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_RLE_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_RLE_rotate.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_RLE_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/bin_image_stride64_RLE_simple.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_LZ4_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_LZ4_rotate.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_LZ4_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_LZ4_simple.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_RLE_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_RLE_rotate.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_RLE_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride1_RLE_simple.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_LZ4_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_LZ4_rotate.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_LZ4_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_LZ4_simple.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_RLE_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_RLE_rotate.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_RLE_rotate_recolor.png
  tests/ref_imgs_vg_lite/draw/c_array_image_stride64_RLE_simple.png
  tests/src/lv_test_conf.h
  tests/src/lv_test_init.c
  tests/src/test_cases/draw/test_draw_blend.c
  tests/src/test_cases/widgets/test_canvas.c
Labels: 👀 Review needed

#6649 feat(scale): add additional style properties
  docs/overview/style-props.rst
  docs/widgets/scale.rst
  examples/widgets/lv_example_widgets.h
  examples/widgets/scale/index.rst
  examples/widgets/scale/lv_example_scale_8.c
  examples/widgets/scale/lv_example_scale_9.c
  scripts/style_api_gen.py
  src/core/lv_obj_style_gen.c
  src/core/lv_obj_style_gen.h
  src/misc/lv_style.h
  src/misc/lv_style_gen.c
  src/misc/lv_style_gen.h
  src/widgets/property/lv_obj_property_names.h
  src/widgets/property/lv_style_properties.c
  src/widgets/property/lv_style_properties.h
  src/widgets/scale/lv_scale.c
  src/widgets/scale/lv_scale.h
Labels: 🌱 Simple

#6887 fix(neon): use conventional macro syntax
  src/draw/sw/blend/neon/lv_blend_neon.S
Labels: 👀 Review needed

#7144 feat(docs): batch 1 of proofread/edited docs
  docs/CHANGELOG.rst
  docs/details/base-widget/coord.rst
  docs/details/base-widget/layouts/flex.rst
  docs/details/base-widget/layouts/grid.rst
  docs/details/base-widget/styles/style.rst
  docs/details/widgets/image.rst
Labels: 👀 Review needed

#7113 fix(scale): correct scale_set_arc_properties function
  src/widgets/scale/lv_scale.c
Labels: 👀 Review needed, 💥 Breaking change
