Repository lvgl/lvgl, pull requests merged in 2025-06, with the labels that each got.

#8369 fix(sdl): add malloc check after reallocating memory
  src/drivers/sdl/lv_sdl_window.c
Labels: 👀 Review needed

#8064 test(perf): add perf test framework
  .github/workflows/perf_tests.yml
  tests/README.md
  tests/main.py
  tests/perf.py
  tests/src/lv_test_init.c
  tests/src/lv_test_perf_conf.h
  tests/src/test_cases_perf/test_chart.c
  tests/src/test_cases_perf/test_math.c
  tests/unity/generate_test_runner.rb
  tests/unity/unity.c
  tests/unity/unity.h
  tests/unity/unity_internals.h
  tests/unity/unity_support.h
Labels: 👀 Review needed

#8372 docs(observer): fix typo in parameter description
  src/others/observer/lv_observer.h
Labels: 👀 Review needed

#8367 chore(lvglimage): fix indexed image premultiply error
  scripts/LVGLImage.py
Labels: 💤 Stale

#8450 fix(draw/swm341): fix typo
  src/draw/swm341_dma2d/lv_gpu_swm341_dma2d.c
Labels: 👀 Review needed

#8413 docs(calendar): fix typo
  docs/src/details/widgets/calendar.rst
Labels: 👀 Review needed

#8255 feat(translation): add translation support
  .typos.toml
  Kconfig
  configs/ci/docs/lv_conf_docs.defaults
  configs/ci/examples/lv_conf_examples.defaults
  docs/src/details/auxiliary-modules/index.rst
  docs/src/details/auxiliary-modules/translation.rst
  docs/src/details/auxiliary-modules/xml/index.rst
  docs/src/details/auxiliary-modules/xml/translation.rst
  docs/src/details/auxiliary-modules/xml/translations.rst
  examples/others/lv_example_others.h
  examples/others/snapshot/lv_example_snapshot_1.c
  examples/others/translation/index.rst
  examples/others/translation/lv_example_translation.h
  examples/others/translation/lv_example_translation_1.c
  examples/others/xml/lv_example_xml_2.c
  examples/others/xml/my_card.xml
  examples/others/xml/translations.xml
  examples/others/xml/view.xml
  lv_conf_template.h
  lvgl.h
  src/core/lv_global.h
  src/lv_conf_internal.h
  src/lv_init.c
  src/misc/lv_types.h
  src/others/translation/lv_translation.c
  src/others/translation/lv_translation.h
  src/others/translation/lv_translation_private.h
  src/others/xml/lv_xml.c
  src/others/xml/lv_xml.h
  src/others/xml/lv_xml_translation.c
  src/others/xml/lv_xml_translation.h
  src/others/xml/parsers/lv_xml_label_parser.c
  tests/src/lv_test_conf_full.h
  tests/src/test_cases/xml/test_xml_translations.c
  xmls/lv_buttonmatrix.xml
  xmls/lv_label.xml
  xmls/lv_obj.xml
Labels: 👀 Review needed

#7794 fix(indev): decouple scroll momentum decay from indev read loop (#6832)
  docs/src/details/main-modules/indev.rst
  src/indev/lv_indev.c
  src/indev/lv_indev.h
  src/indev/lv_indev_private.h
  src/tick/lv_tick.c
  src/tick/lv_tick.h
Labels: 💤 Stale, 👀 Review needed

#8490 fix: include v9.2 api map to avoid breaking changes
  lvgl.h
Labels: 👀 Review needed
