Repository lvgl/lvgl, pull requests merged in 2025-09, with the labels that each got.

#8696 feat(NemaGFX): Support complex gradients: linear, radial
  src/draw/nema_gfx/lv_draw_nema_gfx_fill.c
Labels: 💤 Stale

#8630 feat(display): initial lovyan integration
  Kconfig
  docs/src/details/integration/frameworks/arduino.rst
  lv_conf_template.h
  src/drivers/display/lovyan_gfx/lv_lgfx_user.hpp
  src/drivers/display/lovyan_gfx/lv_lovyan_gfx.cpp
  src/drivers/display/lovyan_gfx/lv_lovyan_gfx.h
  src/drivers/lv_drivers.h
  src/lv_conf_internal.h
Labels: 👀 Review needed

#8805 feat(osal): add lv_sleep_ms interface and implementation.
  src/osal/lv_cmsis_rtos2.c
  src/osal/lv_freertos.c
  src/osal/lv_mqx.c
  src/osal/lv_os.h
  src/osal/lv_pthread.c
  src/osal/lv_pthread.h
  src/osal/lv_rtthread.c
  src/osal/lv_sdl2.c
  src/osal/lv_windows.c
Labels: 🌱 Trivial

#8768 docs(STM32): simplify and rewrite
  docs/src/details/integration/boards/manufacturers/riverdi.rst
  docs/src/details/integration/chip_vendors/stm32/add_lvgl_to_your_stm32_project.rst
  docs/src/details/integration/chip_vendors/stm32/dma2d_gpu.rst
  docs/src/details/integration/chip_vendors/stm32/index.rst
  docs/src/details/integration/chip_vendors/stm32/lcd_stm32_guide.rst
  docs/src/details/integration/chip_vendors/stm32/ltdc.rst
  docs/src/details/integration/chip_vendors/stm32/neochrom.rst
  docs/src/details/integration/chip_vendors/stm32/overview.rst
  docs/src/details/integration/external_display_controllers/gen_mipi.rst
  docs/src/details/integration/external_display_controllers/ili9341.rst
  docs/src/details/integration/external_display_controllers/index.rst
  docs/src/details/integration/external_display_controllers/st7735.rst
  docs/src/details/integration/external_display_controllers/st7789.rst
  docs/src/details/integration/external_display_controllers/st7796.rst
Labels: 🚨 Critical

#8807 fix(gltf): add missing initialization call for viewer attribute
  src/libs/gltf/gltf_view/lv_gltf_view.cpp
Labels: 🌱 Trivial

#8793 fix(cache): make the cache module private
  lvgl.h
  lvgl_private.h
  src/draw/sdl/lv_draw_sdl.h
  src/libs/barcode/lv_barcode.c
  src/libs/qrcode/lv_qrcode.c
  tests/src/test_cases/draw/test_draw_svg.c
Labels: 🚨 Critical

#8784 chore(font): replace arial with liberationsans
  src/core/lv_obj_property.h
  src/libs/freetype/LiberationSans-LICENSE.txt
  src/libs/freetype/LiberationSans-Regular.ttf
  src/libs/freetype/arial.ttf
  src/libs/freetype/freetype-LICENSE.txt
  tests/ref_imgs/libs/font_stress/snapshot_0.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_0.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_1.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_1.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_10.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_10.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_2.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_2.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_3.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_3.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_4.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_4.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_5.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_5.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_6.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_6.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_7.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_7.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_8.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_8.lp64.png
  tests/ref_imgs/libs/font_stress/snapshot_9.lp32.png
  tests/ref_imgs/libs/font_stress/snapshot_9.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_0.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_0.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_1.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_1.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_10.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_10.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_2.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_2.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_3.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_3.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_4.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_4.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_5.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_5.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_6.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_6.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_7.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_7.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_8.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_8.lp64.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_9.lp32.png
  tests/ref_imgs_vg_lite/libs/font_stress/snapshot_9.lp64.png
  tests/src/test_cases/libs/test_font_stress.c
Labels: 👀 Review needed, 🚨 Critical

#8827 fix(draw/convert): fix duplicate c declaration symbol during docs build
  src/draw/convert/helium/lv_draw_buf_convert_helium.h
  src/draw/convert/neon/lv_draw_buf_convert_neon.h
Labels: 🌱 Trivial, 🚨 Critical

#8833 feat(gltf): allow compiling gltf with EGL
  src/drivers/opengles/lv_opengles_private.h
  src/libs/gltf/gltf_data/lv_gltf_bind.cpp
  src/libs/gltf/gltf_data/lv_gltf_data_internal.h
  src/libs/gltf/gltf_data/lv_gltf_data_internal.hpp
  src/libs/gltf/gltf_data/lv_gltf_data_texture.cpp
  src/libs/gltf/gltf_view/lv_gltf_view_render.cpp
Labels: 🚨 Critical

#8832 fix(opengl): fix multiple issues with shader manipulation
  src/drivers/opengles/opengl_shader/lv_opengl_shader_manager.c
  src/libs/gltf/gltf_view/assets/lv_gltf_view_shader.c
Labels: 🚨 Critical, opengl

#8808 fix(sdl): The default size is fixed
  src/drivers/sdl/lv_sdl_window.c
Labels: 🌱 Trivial

#8744 fix(wayland): throw error when using dmabuf without 2 draw buffers
  src/drivers/wayland/lv_wayland.c
Labels: 🌱 Trivial

#8748 docs(misc): fix formatting errors, typos and missing reference
  docs/src/_static/css/custom.css
  docs/src/details/integration/chip_vendors/nxp/elcdif.rst
  docs/src/details/integration/chip_vendors/renesas/glcdc.rst
  docs/src/details/integration/embedded_linux/os/yocto/lvgl_recipe.rst
  docs/src/details/integration/embedded_linux/os/yocto/terms_and_variables.rst
  docs/src/details/xml/build_ui/translation.rst
Labels: 🌱 Trivial, docs

#8858 fix(xml): fix multiple delimiter handling in lv_xml_split_str
  src/others/xml/lv_xml_utils.c
Labels: 🌱 Trivial, 🚨 Critical

#8797 fix(file_explorer): ensure current_path is null-terminated after appending '/'
  src/others/file_explorer/lv_file_explorer.c
Labels: 🌱 Trivial

#8680 feat(style): add `lv_style_merge` and appropriate tests
  src/misc/lv_style.c
  src/misc/lv_style.h
  tests/src/test_cases/test_style.c
Labels: 🌱 Trivial

#8856 chore(repo_updater): add missing boards to the repo updater
  scripts/release_branch_updater_port_urls.txt
Labels: 🌱 Trivial

#8873 fix(font): fix load_cmaps_tables overflow
  src/font/lv_font_loader.c
Labels: 🌱 Trivial, v8

#8891 feat(draw): add event_cb in draw unit
  src/draw/lv_draw.c
  src/draw/lv_draw.h
  src/draw/lv_draw_private.h
  src/draw/vg_lite/lv_draw_vg_lite.c
  src/draw/vg_lite/lv_vg_lite_grad.c
  src/draw/vg_lite/lv_vg_lite_grad.h
  tests/src/test_cases/draw/test_draw_vector.c
Labels: Run benchmarks on HW, draw

#8893 feat(event): add ability to delete display and indev on event
  src/core/lv_refr.c
  src/display/lv_display.c
  src/indev/lv_indev.c
  src/misc/lv_event.c
  src/misc/lv_event_private.h
  tests/src/test_cases/test_display.c
Labels: event, display, indev

#8834 fix(grad): make complex gradients available regardless of whether draw_sw support is enabled
  src/draw/vg_lite/lv_vg_lite_grad.c
  src/misc/lv_grad.c
  src/misc/lv_grad.h
Labels: 🌱 Trivial, nema

#8895 docs(misc): Fixed some identations and formatting in display documentation.
  docs/porting/display.md
Labels: 🌱 Trivial, v8, docs

#8823 fix(label): make long dot mode compatible with static text
  src/widgets/label/lv_label.c
Labels: 🌱 Trivial, label

#8838 docs(opengl): add opengl overview page
  docs/src/details/integration/embedded_linux/index.rst
  docs/src/details/integration/embedded_linux/opengl.rst
Labels: docs, opengl

#8743 perf(GIF): Faster GIF library drop-in replacement
  COPYRIGHTS.md
  docs/src/details/libs/gif.rst
  examples/libs/gif/lv_example_gif_1.c
  lvgl_private.h
  scripts/code-format.cfg
  src/libs/gif/AnimatedGIF/LICENSE
  src/libs/gif/AnimatedGIF/src/AnimatedGIF.h
  src/libs/gif/AnimatedGIF/src/gif.c
  src/libs/gif/LICENSE.txt
  src/libs/gif/gifdec.c
  src/libs/gif/gifdec.h
  src/libs/gif/gifdec_mve.h
  src/libs/gif/lv_gif.c
  src/libs/gif/lv_gif.h
  src/libs/gif/lv_gif_private.h
  src/misc/lv_types.h
  tests/perf.py
Labels: 💪 For experts, gif

#8843 docs(timer/indev): add example section about indev interrupts resuming the indev timer
  docs/src/details/main-modules/indev.rst
  src/misc/lv_timer.h
  src/misc/lv_timer_private.h
  src/tick/lv_tick.h
  src/tick/lv_tick_private.h
Labels: 🌱 Trivial, docs, indev

#8837 feat(opengl): add support for creating an LVGL OpenGL texture display from an existing texture
  docs/src/details/integration/embedded_linux/drivers/index.rst
  docs/src/details/integration/embedded_linux/drivers/opengl_driver.rst
  src/drivers/display/drm/lv_linux_drm.c
  src/drivers/opengles/lv_opengles_texture.c
  src/drivers/opengles/lv_opengles_texture.h
Labels: opengl

#8887 fix(font): fix stride calculation of fonts
  src/draw/sw/lv_draw_sw_letter.c
  src/font/lv_font.h
  src/font/lv_font_fmt_txt.c
Labels: 🌱 Trivial, font

#8745 feat(api_mapping): add ability to disable api mapping
  demos/benchmark/assets/img_benchmark_avatar.c
  demos/music/lv_demo_music_main.c
  demos/widgets/assets/img_clothes.c
  demos/widgets/assets/img_demo_widgets_avatar.c
  demos/widgets/assets/img_lvgl_logo.c
  docs/src/details/common-widget-features/basics.rst
  docs/src/details/common-widget-features/layers.rst
  docs/src/details/widgets/label.rst
  docs/src/details/xml/ui_elements/widgets.rst
  examples/others/observer/lv_example_observer_2.c
  examples/porting/osal/lv_example_osal.c
  examples/scroll/lv_example_scroll_1.c
  examples/scroll/lv_example_scroll_3.c
  examples/widgets/arc/lv_example_arc_3.c
  examples/widgets/list/lv_example_list_2.c
  examples/widgets/lottie/lv_example_lottie_1.c
  examples/widgets/lottie/lv_example_lottie_2.c
  examples/widgets/scale/lv_example_scale_10.c
  examples/widgets/textarea/lv_example_textarea_4.c
  lvgl.h
  src/libs/libpng/lv_libpng.c
  src/libs/tiny_ttf/lv_tiny_ttf.c
  src/others/xml/lv_xml_component.h
  src/others/xml/lv_xml_test.h
  src/others/xml/lv_xml_translation.h
  src/others/xml/lv_xml_update.h
  tests/src/lv_test_conf_full.h
  tests/src/test_cases/draw/test_draw_svg.c
  tests/src/test_cases/libs/test_font_stress.c
  tests/src/test_cases/libs/test_tiny_ttf.c
  tests/src/test_cases/libs/test_tjpgd.c
  tests/src/test_cases/test_screen_load.c
  tests/src/test_cases/widgets/test_calendar.c
  tests/src/test_cases/widgets/test_chart.c
  tests/src/test_cases/widgets/test_lottie.c
  tests/src/test_cases/widgets/test_obj_pos.c
  tests/src/test_cases/widgets/test_span.c
  tests/src/test_cases/widgets/test_textarea.c
Labels: 🔥 Important

#8889 fix(os): make lv_lock/unlock public as they should be used by the users
  lvgl.h
  src/core/lv_global.h
  src/core/lv_obj_id_builtin.c
  src/draw/lv_draw_private.h
  src/draw/nxp/pxp/lv_pxp_osa.c
  src/draw/sdl/lv_draw_sdl.h
  src/draw/sw/lv_draw_sw.h
  src/draw/sw/lv_draw_sw_grad.c
  src/draw/sw/lv_draw_sw_mask.c
  src/drivers/windows/lv_windows_context.c
  src/libs/vg_lite_driver/lv_vg_lite_hal/lv_vg_lite_hal.c
  src/misc/cache/lv_cache_private.h
  src/osal/lv_cmsis_rtos2.c
  src/osal/lv_freertos.c
  src/osal/lv_freertos.h
  src/osal/lv_linux.c
  src/osal/lv_mqx.c
  src/osal/lv_mqx.h
  src/osal/lv_os.c
  src/osal/lv_os.h
  src/osal/lv_os_none.c
  src/osal/lv_os_private.h
  src/osal/lv_pthread.c
  src/osal/lv_rtthread.c
  src/osal/lv_sdl2.c
  src/osal/lv_windows.c
  src/stdlib/builtin/lv_mem_core_builtin.c
  src/stdlib/builtin/lv_tlsf_private.h
  src/tick/lv_tick.h
Labels: 🌱 Trivial, osal

#8571 fix(memfs): use string only in lv_fs_path_ex_t for better compatibility
  src/font/lv_binfont_loader.c
  src/libs/tjpgd/lv_tjpgd.c
  src/misc/lv_fs.c
  src/misc/lv_fs.h
  src/misc/lv_fs_private.h
  src/misc/lv_types.h
  tests/ref_imgs/widgets/image_raw_data_as_file.png
  tests/ref_imgs_vg_lite/widgets/image_raw_data_as_file.png
  tests/src/test_cases/widgets/test_image.c
Labels: fs

#8919 fix(kconfig): add TinyTTF cache count setting support
  Kconfig
Labels: 🌱 Trivial, kconfig

#8915 fix(wayland): fix stride calculation when iterating over drawbuf
  src/drivers/wayland/lv_wl_shm.c
Labels: 🐞 Bug, 🚨 Critical, wayland

#8774 feat(XML): XML load from directory
  docs/src/details/xml/overview/intro.rst
  src/misc/lv_fs.c
  src/misc/lv_fs.h
  src/others/xml/lv_xml.h
  src/others/xml/lv_xml_load.c
  src/others/xml/lv_xml_load.h
Labels: 👀 Review needed

#8917 fix(keyboard): add missing dependency checks
  examples/others/observer/lv_example_observer_2.c
  examples/widgets/keyboard/lv_example_keyboard_3.c
  src/widgets/keyboard/lv_keyboard.c
  src/widgets/keyboard/lv_keyboard.h
Labels: 🌱 Trivial, keyboard

#8914 fix(fbdev): fix stride, bounds checking, and partial flushes in direct render mode in flush callback
  src/drivers/display/fb/lv_linux_fbdev.c
Labels: 🚨 Critical, fbdev

#8911 feat(vglite): refactor driver config and remove NXP VGLite draw unit
  Kconfig
  env_support/cmsis-pack/lv_conf_cmsis.h
  lv_conf_template.h
  scripts/lv_conf_internal_gen.py
  src/draw/nxp/vglite/lv_draw_buf_vglite.c
  src/draw/nxp/vglite/lv_draw_vglite.c
  src/draw/nxp/vglite/lv_draw_vglite.h
  src/draw/nxp/vglite/lv_draw_vglite_arc.c
  src/draw/nxp/vglite/lv_draw_vglite_border.c
  src/draw/nxp/vglite/lv_draw_vglite_fill.c
  src/draw/nxp/vglite/lv_draw_vglite_img.c
  src/draw/nxp/vglite/lv_draw_vglite_label.c
  src/draw/nxp/vglite/lv_draw_vglite_layer.c
  src/draw/nxp/vglite/lv_draw_vglite_line.c
  src/draw/nxp/vglite/lv_draw_vglite_triangle.c
  src/draw/nxp/vglite/lv_vglite_buf.c
  src/draw/nxp/vglite/lv_vglite_buf.h
  src/draw/nxp/vglite/lv_vglite_matrix.c
  src/draw/nxp/vglite/lv_vglite_matrix.h
  src/draw/nxp/vglite/lv_vglite_path.c
  src/draw/nxp/vglite/lv_vglite_path.h
  src/draw/nxp/vglite/lv_vglite_utils.c
  src/draw/nxp/vglite/lv_vglite_utils.h
  src/lv_conf_internal.h
  src/lv_init.c
  tests/src/test_cases/draw/test_render_to_argb8888_premultiplied.c
Labels: vglite

#8870 feat(XML/fsdrv): add frogfs and XML load from blob
  COPYRIGHTS.md
  Kconfig
  docs/src/details/libs/frogfs.rst
  docs/src/details/libs/index.rst
  docs/src/details/xml/xml/overview.rst
  lv_conf_template.h
  scripts/code-format.cfg
  src/core/lv_global.h
  src/libs/frogfs/LICENSE.txt
  src/libs/frogfs/include/frogfs/frogfs.h
  src/libs/frogfs/include/frogfs/frogfs_types.h
  src/libs/frogfs/src/decomp_raw.c
  src/libs/frogfs/src/frogfs.c
  src/libs/frogfs/src/frogfs_format.h
  src/libs/frogfs/src/frogfs_priv.h
  src/libs/fsdrv/lv_fs_frogfs.c
  src/libs/fsdrv/lv_fsdrv.h
  src/lv_conf_internal.h
  src/lv_init.c
  src/misc/lv_fs.c
  src/misc/lv_fs.h
  src/misc/lv_types.h
  src/others/xml/lv_xml.c
  src/others/xml/lv_xml_load.c
  src/others/xml/lv_xml_load.h
  src/others/xml/lv_xml_load_private.h
Labels: xml, fs

#8942 docs (frameworks): PlatformIO
  docs/src/details/integration/frameworks/platformio.rst
Labels: 👀 Review needed, docs

#8782 docs(events): fix grammatical issue
  docs/src/details/common-widget-features/events.rst
Labels: 🌱 Trivial, docs

#8950 feat(qrcode): add new set_data helper function
  src/libs/qrcode/lv_qrcode.c
  src/libs/qrcode/lv_qrcode.h
  src/others/xml/parsers/lv_xml_qrcode_parser.c
  tests/src/test_cases/xml/test_xml_qrcode.c
  xmls/lv_qrcode.xml
Labels: xml, qrcode

#8836 refactor(opengles): mainline usage of shader manager in opengl driver
  src/drivers/opengles/assets/lv_opengles_standard_shader.c
  src/drivers/opengles/assets/lv_opengles_standard_shader.h
  src/drivers/opengles/lv_opengles_driver.c
  src/drivers/opengles/opengl_shader/lv_opengl_shader_internal.h
  src/drivers/opengles/opengl_shader/lv_opengl_shader_manager.c
  src/libs/gltf/gltf_view/assets/lv_gltf_view_shader.c
  src/libs/gltf/gltf_view/assets/lv_gltf_view_shader.h
  src/libs/gltf/gltf_view/ibl/lv_gltf_ibl_sampler.c
  src/libs/gltf/gltf_view/ibl/lv_gltf_ibl_sampler.h
  src/libs/gltf/gltf_view/lv_gltf_view.cpp
  src/libs/gltf/gltf_view/lv_gltf_view_internal.h
  src/libs/gltf/gltf_view/lv_gltf_view_render.cpp
  src/libs/gltf/gltf_view/lv_gltf_view_shader.cpp
Labels: opengl

#8937 feat(EVE): support fonts with a stride alignment
  docs/src/details/integration/external_display_controllers/eve/gpu.rst
  src/draw/eve/lv_draw_eve_letter.c
Labels: draw, eve

#8968 docs(style): update font sizes and weights for improved readability
  docs/src/_static/css/custom.css
Labels: docs

#8951 chore: fix lv_font_montserrat_14_aligned.c include
  src/font/lv_font_montserrat_14_aligned.c
Labels: 🌱 Trivial

#8957 feat(xml): add spinbox support
  docs/src/details/widgets/spinbox.rst
  examples/widgets/spinbox/lv_example_spinbox_1.c
  src/others/xml/lv_xml.c
  src/others/xml/parsers/lv_xml_spinbox_parser.c
  src/others/xml/parsers/lv_xml_spinbox_parser.h
  src/widgets/spinbox/lv_spinbox.c
  src/widgets/spinbox/lv_spinbox.h
  tests/ref_imgs/xml/lv_spinbox.png
  tests/ref_imgs_vg_lite/xml/lv_spinbox.png
  tests/src/test_cases/xml/test_xml_spinbox.c
  xmls/lv_spinbox.xml
Labels: xml, spinbox

#8978 fix(drm/egl): correctly match egl config in config select cb
  src/drivers/display/drm/lv_linux_drm_egl.c
Labels: 🐞 Bug, 🌱 Trivial, drm, egl
