Repository lvgl/lvgl, pull requests merged in 2025-08, with the labels that each got.

#8211 feat(EVE): Add EVE draw unit
  COPYRIGHTS.md
  Kconfig
  docs/src/details/integration/driver/display/ft81x.rst
  docs/src/details/integration/renderers/eve.rst
  docs/src/details/integration/renderers/index.rst
  lv_conf_template.h
  lvgl.h
  scripts/code-format.cfg
  src/core/lv_global.h
  src/draw/eve/lv_draw_eve.c
  src/draw/eve/lv_draw_eve.h
  src/draw/eve/lv_draw_eve_arc.c
  src/draw/eve/lv_draw_eve_fill.c
  src/draw/eve/lv_draw_eve_image.c
  src/draw/eve/lv_draw_eve_letter.c
  src/draw/eve/lv_draw_eve_line.c
  src/draw/eve/lv_draw_eve_private.h
  src/draw/eve/lv_draw_eve_ram_g.c
  src/draw/eve/lv_draw_eve_ram_g.h
  src/draw/eve/lv_draw_eve_target.h
  src/draw/eve/lv_draw_eve_triangle.c
  src/draw/eve/lv_eve.c
  src/draw/eve/lv_eve.h
  src/drivers/display/ft81x/lv_ft81x.h
  src/drivers/draw/eve/lv_draw_eve_display.c
  src/drivers/draw/eve/lv_draw_eve_display.h
  src/drivers/draw/eve/lv_draw_eve_display_defines.h
  src/drivers/lv_drivers.h
  src/libs/FT800-FT813/EVE.h
  src/libs/FT800-FT813/EVE_commands.c
  src/libs/FT800-FT813/EVE_commands.h
  src/libs/FT800-FT813/EVE_config.h
  src/libs/FT800-FT813/EVE_supplemental.c
  src/libs/FT800-FT813/EVE_suppplemental.h
  src/libs/FT800-FT813/EVE_target.h
  src/libs/FT800-FT813/LICENSE
  src/libs/FT800-FT813/README.md
  src/lv_api_map_v9_2.h
  src/lv_conf_internal.h
  src/lv_conf_kconfig.h
  src/lv_init.c
  src/misc/lv_types.h
Labels: 👀 Review needed

#8573 feat(chart): add stacked chart support
  demos/widgets/lv_demo_widgets_shop.c
  docs/src/details/widgets/chart.rst
  examples/widgets/chart/lv_example_chart_3.c
  src/widgets/chart/lv_chart.c
  src/widgets/chart/lv_chart.h
  src/widgets/chart/lv_chart_private.h
Labels: 🚀 Run benchmarks on HW

#8591 fix(image): fix unused var warning when LV_LOG_WARN isn't available
  src/widgets/image/lv_image.c
Labels: 💤 Stale
