Repository lvgl/lvgl, pull requests merged in 2025-04, with the labels that each got.

#8054 fix(lottie): revert example
  examples/widgets/lottie/lv_example_lottie_1.c
Labels: 👀 Review needed

#8066 [Don't squash] Fix font flush cache
  src/drivers/nuttx/lv_nuttx_cache.c
  src/font/lv_font_fmt_txt.c
  src/libs/freetype/lv_freetype_image.c
  src/libs/tiny_ttf/lv_tiny_ttf.c
Labels: 👀 Review needed

#8052 build(custom): fix include path of lv_conf.cmake
  env_support/cmake/custom.cmake
Labels: 👀 Review needed

#8024 fix(draw_chart): remove raw_end setting in draw_series_line
  src/widgets/chart/lv_chart.c
Labels: 👀 Review needed

#7960 fix(matrix): use homogeneous coordinates to transform point
  src/misc/lv_matrix.c
Labels: 👀 Review needed

#7907 fix(area): test and fix lv_area_diff edge case
  src/misc/lv_area.c
  tests/src/test_cases/test_area.c
Labels: 💤 Stale

#7487 feat(disp): support subscription and unsubscription of vsync event
  src/display/lv_display.c
  src/display/lv_display.h
  src/display/lv_display_private.h
  src/drivers/nuttx/lv_nuttx_libuv.c
  src/misc/lv_event.c
  src/misc/lv_event.h
Labels: 👀 Review needed

#8096 fix(sdl): fix access fb2 NULL pointer
  src/drivers/sdl/lv_sdl_window.c
Labels: 👀 Review needed

#8079 fix(cmake): fix LV_CONF_PATH quoting consistency issue
  env_support/cmake/custom.cmake
Labels: 👀 Review needed

#8074 ci(release_updater): Add bi-weekly schedule. Only update master branches on schedule
  .github/workflows/release_branch_updater.yml
  scripts/release_branch_updater.py
Labels: 👀 Review needed

#8033 feat(widget): Add `lv_3dtexture` widget and 3D draw task type
  docs/src/details/widgets/3dtexture.rst
  lv_conf_template.h
  lvgl.h
  lvgl_private.h
  src/draw/lv_draw.c
  src/draw/lv_draw.h
  src/draw/lv_draw_3d.c
  src/draw/lv_draw_3d.h
  src/draw/opengles/lv_draw_opengles.c
  src/draw/sw/lv_draw_sw.c
  src/lv_conf_internal.h
  src/misc/lv_types.h
  src/widgets/3dtexture/lv_3dtexture.c
  src/widgets/3dtexture/lv_3dtexture.h
  src/widgets/3dtexture/lv_3dtexture_private.h
Labels: 👀 Review needed

#8061 fix(drivers/evdev): process pointer coordinates in unrotated frame
  src/drivers/evdev/lv_evdev.c
Labels: 💤 Stale, 👀 Review needed

#8172 example(keyboard): add draw event example to customize each button
  docs/src/details/widgets/keyboard.rst
  examples/widgets/buttonmatrix/lv_example_buttonmatrix_2.c
  examples/widgets/keyboard/index.rst
  examples/widgets/keyboard/lv_example_keyboard_3.c
  examples/widgets/lv_example_widgets.h
Labels: 👀 Review needed
