Repository lvgl/lvgl, pull requests merged in 2025-10, with the labels that each got.

#8886 feat(sdl): Add SDL_Window accessor function to retrieve window from lv_display_t
  src/drivers/sdl/lv_sdl_window.c
  src/drivers/sdl/lv_sdl_window.h
Labels: 🌱 Trivial, sdl

#8908 feat(lv_global): move user_data to the top of lv_global_t
  src/core/lv_global.h
Labels: 🌱 Trivial

#8980 feat(egl/gltf): add gltf support with EGL
  demos/gltf/lv_demo_gltf.c
  src/drivers/opengles/glad/README.md
  src/drivers/opengles/glad/include/KHR/khrplatform.h
  src/drivers/opengles/glad/include/glad/egl.h
  src/drivers/opengles/glad/include/glad/gles2.h
  src/drivers/opengles/glad/src/egl.c
  src/drivers/opengles/glad/src/gles2.c
  src/drivers/opengles/lv_opengles_private.h
  src/libs/gltf/gltf_view/assets/lv_gltf_view_shader.c
  src/libs/gltf/gltf_view/ibl/lv_gltf_ibl_sampler.c
  src/libs/gltf/gltf_view/ibl/lv_gltf_ibl_sampler.h
  src/libs/gltf/gltf_view/lv_gltf.h
  src/libs/gltf/gltf_view/lv_gltf_view_render.cpp
Labels: 🚨 Critical, gltf, egl, For v9.4

#8989 feat(osal): enable linux specific features with os_none
  scripts/lv_conf_internal_gen.py
  src/core/lv_global.h
  src/lv_conf_internal.h
  src/osal/lv_linux.c
  src/osal/lv_linux.h
  src/osal/lv_os_none.c
  src/osal/lv_os_private.h
Labels: osal, For v9.4

#8991 fix(wayland): bind driver data to display's driver data instead of user data
  src/drivers/wayland/lv_wayland.c
  src/drivers/wayland/lv_wl_dmabuf.c
  src/drivers/wayland/lv_wl_keyboard.c
  src/drivers/wayland/lv_wl_pointer.c
  src/drivers/wayland/lv_wl_pointer_axis.c
  src/drivers/wayland/lv_wl_shm.c
  src/drivers/wayland/lv_wl_touch.c
  src/drivers/wayland/lv_wl_window.c
Labels: 🌱 Trivial, wayland, For v9.4

#8881 fix(table): remove free calls to user data
  docs/src/details/widgets/table.rst
  src/others/file_explorer/lv_file_explorer.c
  src/widgets/table/lv_table.c
Labels: 🐞 Bug, 🔥 Important, 💥 Breaking change, For v9.4

#9000 docs(flags): add chapter explaining how to add/remove multiple flags
  docs/src/details/common-widget-features/flags.rst
Labels: 🌱 Trivial, docs, For v9.4

#8995 docs(xml/events): rename page to avoid confusion when searching documentation
  docs/src/details/xml/ui_elements/events.rst
Labels: 🌱 Trivial, xml, docs, event, For v9.4

#9010 feat(sysmon): add cpu proc usage when using monitor log mode
  src/others/sysmon/lv_sysmon.c
Labels: 🌱 Trivial, sysmon, For v9.4
